@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
body {
	background: #f8f8f8;
}

.contents {
	width: 30%;
	display: inline-block;
	padding: 50px;
}
.fixedContents {
	position: fixed;
	top: 0;
	left: 0;
}
.listItem {
	padding-left: 1rem;
}
.articleLink {
	cursor: pointer;
}
.articles {
	width: 70%;
	display: inline-block;
	padding: 50px;
}
.article {
	margin: 30px 10px;
	background: #eee;
	position: relative;
}
.deleteArticle {
	position: absolute;
	right: 10px;
	top: 0;
	background: #fff;
	border: 1px solid red;
	border-radius: 5px;
	padding: 2px;
	cursor: pointer;
}