@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
body {
	background: #f8f8f8;
}
#main {
	width: 100%;
	max-width: 960px;
	margin: 0px auto 40px;
	position: relative;
}
.contents {
	width: 30%;
	display: inline-block;
	padding: 20px;
	position: fixed;
	top: 0;
}
.contents ul {
	padding-top: 30px;
}

.listItem {
	color: #666;
	cursor: pointer;
}

.activeArticle {
	color: #cc7a6f;
}

.articles {
	width: 70%;
	display: inline-block;
	padding: 20px;
}

:global .slowDisplay-enter {
	opacity: 0.01;
}

:global .slowDisplay-enter.slowDisplay-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-out;
}


.articleTitle {
	font-weight: bold;
	font-size: 2em;
	padding-bottom: 20px;
}
.article {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 30px;
}
.article p {
	line-height: 1.5;
	padding: 0.5em 0;
	color: #1e1e1e;
}

:global .mce-tinymce {
	box-sizing: border-box !important;
}

